* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  html,
  body {
    background-color: rgb(27, 57, 100);
  }

  .App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

  }

  .logo-sena-contenedor {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .sena-logo {
    height: 200px;
  }

  .container-major{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  